<div class="colorLinks__wrapper">
	<ul class="colorLinks__col">
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-nature" class="colorLink__a {% if product.handle contains '-nature' %}active{% endif %}" style="background-color: var(--natureclr);" title="nature color"></a></li>
		<li class="colorLinks__li col-li"><a href="/products/handklaede-grey" class="colorLink__a  {% if product.handle contains '-grey' %}active{% endif %}" style="background-color:var(--grayclr);" title="grey color"></a></li>
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-mint" class="colorLink__a  {% if product.handle contains '-mint' %}active{% endif %}" style="background-color:var(--mintclr)" title="mint color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-sky-blue" class="colorLink__a {% if product.handle contains '-sky-blue' %}active{% endif %}" style="background-color:var(--skyblueclr)" title="sky blue color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-olive" class="colorLink__a {% if product.handle contains 'olive' %}active{% endif %}" style="background-color: var(--oliveclr);" title="olive color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-cloudless-blue" class="colorLink__a {% if product.handle contains 'cloudless-blue' %}active{% endif %}" style="background-color: var(--cloudlessblueclr);" title="midnight color"></a></li> 
			<!-- 	<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-eucalyptus-grid" class="colorLink__a {% if product.handle contains 'eucalyptus-grid' %}active{% endif %}" style="background: var(--eucalyptusgrid);" title="eucalyptus grid color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-blue-grid" class="colorLink__a {% if product.handle contains 'blue-grid' %}active{% endif %}" style="background: var(--bluegrid);" title="blue grid color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-cacao-grid" class="colorLink__a {% if product.handle contains 'cacao-grid' %}active{% endif %}" style="background: var(--cacaogrid);" title="cacao grid color"></a></li>  -->
		<span class="more-swatches">
			{%- render 'icon', icon: 'plus' -%} 
			<span class="more-swatches-digit">4</span>
		</span>
	</ul>
</div>