      <!-- color swatches  -->
			<div class="colorLinks__wrapper">
				<ul class="colorLinks__col">
					<li class="colorLinks__li col-li bark"><a href="/products/mini-sengesaet-bark" class="colorLink__a  {% if product.handle contains 'mini-sengesaet-bark' %}active{% endif %}" style="background-color: var(--barkclr);" title="bark color"></a></li>

					<li class="colorLinks__li col-li eucalyptus "><a href="/products/mini-sengesaet-eucalyptus" class="colorLink__a  {% if product.handle contains 'mini-sengesaet-coffee-milk' %}active{% endif %}" style="background-color: var(--eucalyptusclr);" title="eucalyptus color"></a></li>


					<li class="colorLinks__li col-li cloudless-blue"><a href="/products/mini-sengesaet-cloudless-blue" class="colorLink__a  {% if product.handle contains 'mini-sengesaet-cloudless-blue' %}active{% endif %}" style="background-color: var(--cloudlessblueclr);" title="cloudless blue color"></a></li>

					<li class="colorLinks__li col-li cacao-grid"><a href="/products/mini-sengesaet-cacao-grid" class="colorLink__a  {% if product.handle contains 'mini-sengesaet-cacao-grid' %}active{% endif %}" style="background-color: var(--cacaogridclr);" title="cacao grid blue color"></a></li>

					<li class="colorLinks__li col-li moonstone-grid"><a href="/products/mini-sengesaet-moonstone-grid" class="colorLink__a  {% if product.handle contains 'mini-sengesaet-moonstone-grid' %}active{% endif %}" style="background-color: var(--moonstonegridclr);" title="moon stone grid color"></a></li>

					<li class="colorLinks__li col-li sky-blue-grid"><a href="/products/mini-sengesaet-sky-blue-grid" class="colorLink__a  {% if product.handle == 'mini-sengesaet-sky-blue-grid' %}active{% endif %}" style="background-color: var(--skybluegridclr);" title="sky blue grid color"></a></li>

				</ul>

		</div>
		<!-- end color swatches  -->