      <!-- color swatches  -->
			<div class="colorLinks__wrapper">
				<ul class="colorLinks__col">
					<li class="colorLinks__li col-li nnwalnut"><a href="/products/new-nordic-sengesaet-walnut" class="colorLink__a  {% if product.handle contains 'new-nordic-sengesaet-walnut' %}active{% endif %}" style="background-color: var(--nnwalnutclr);" title="walnut color"></a></li>

					<li class="colorLinks__li col-li nnmidnight"><a href="/products/new-nordic-sengesaet-midnight" class="colorLink__a  {% if product.handle contains 'new-nordic-sengesaet-midnight' %}active{% endif %}" style="background-color: var(--nnmidnightclr);" title="midnight color"></a></li>

					<li class="colorLinks__li col-li nnrosesmoke"><a href="/products/new-nordic-sengesaet-rose" class="colorLink__a  {% if product.handle contains 'new-nordic-sengesaet-rose' %}active{% endif %}" style="background-color: var(--nnrosesmokeclr);" title="rose smoke color"></a></li>

					<li class="colorLinks__li col-li nnmoonstone"><a href="/products/new-nordic-sengesaet-moonstone" class="colorLink__a  {% if product.handle contains 'new-nordic-sengesaet-moonstone' %}active{% endif %}" style="background-color: var(--nnmoonstoneclr);" title="moon stone color"></a></li>

					<li class="colorLinks__li col-li nnstonestripe"><a href="/products/new-nordic-sengesaet-stone-stripe" class="colorLink__a  {% if product.handle contains 'new-nordic-sengesaet-stone-stripe' %}active{% endif %}" style="background: var(--stonestripe);" title="stone stripe color"></a></li>


					<li class="colorLinks__li col-li nnfernstripe"><a href="/products/new-nordic-sengesaet-fern-stripe" class="colorLink__a  {% if product.handle contains 'new-nordic-sengesaet-fern-stripe' %}active{% endif %}" style="background: var(--fernstripe);" title="fern stripe color"></a></li>
	
				</ul>
		</div>
		<!-- end color swatches  -->