{% assign colorNames  = product.title | split: '-'  %}
<div class="colorLinks__wrapper">
	<div class="ProductForm__Label">{{'product.form.color' | t}}: {{ colorNames | last }}</div>
		<ul class="colorLinks__ul">
			<li class="colorLinks__li "><a href="/products/signature-viskestykker-2-stk-ternet" class="colorLink__a {% if product.handle contains '-ternet' %}active{% endif %}" style="background: var(--ternet);" title="ternet color"></a></li>
			<li class="colorLinks__li "><a href="/products/signature-viskestykker-2-stk-striber" class="colorLink__a  {% if product.handle contains '-striber' %}active{% endif %}" style="background:var(--striber);" title="striber color"></a></li>
			<li class="colorLinks__li "><a href="/products/signature-viskestykke-olive-brush" class="colorLink__a  {% if product.handle contains '-olive-brush' %}active{% endif %}" style="background-color:var(--oliveclr)" title="olive brush color"></a></li> 
			<li class="colorLinks__li "><a href="/products/signature-viskestykke-eucalyptus-grid" class="colorLink__a {% if product.handle contains '-eucalyptus-grid' %}active{% endif %}" style="background:var(--eucalyptusgrid)" title="eucalyptus grid color"></a></li> 
			<li class="colorLinks__li "><a href="/products/signature-viskestykke-blue-brush" class="colorLink__a {% if product.handle contains '-blue-brush' %}active{% endif %}" style="background-color: var(--oliveclr);" title="blue brush color"></a></li> 
			<li class="colorLinks__li "><a href="/products/signature-viskestykke-cacao-grid" class="colorLink__a {% if product.handle contains '-cacao-grid' %}active{% endif %}" style="background-color: var(--midnightclr);" title="-cacao-grid color"></a></li> 
			</ul>
			
		</div>