{% assign colorNames  = product.title | split: '-'  %}
<div class="colorLinks__wrapper">
	<div class="ProductForm__Label">{{'product.form.color' | t}}: {{ colorNames | last }}</div>
		<ul class="colorLinks__ul">
				<li class="colorLinks__li bark"><a href="/products/signature-sengesaet-bark" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-bark' %}active{% endif %}" style="background-color: var(--barkclr);" title="bark color"></a></li>
				<li class="colorLinks__li  coffee-milk "><a href="/products/signature-sengesaet-coffee-milk" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-coffee-milk' %}active{% endif %}" style="background-color: var(--coffeemilkclr);" title="coffee milk color"></a></li>
				<li class="colorLinks__li  eucalyptus"><a href="/products/signature-sengesaet-eucalyptus" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-eucalyptus' %}active{% endif %}" style="background-color: var(--eucalyptusclr);" title="grey color"></a></li>
				<li class="colorLinks__li  cloudless-blue"><a href="/products/signature-sengesaet-cloudless-blue" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-cloudless-blue' %}active{% endif %}" style="background-color: var(--cloudlessblueclr);" title="cloudless blue color"></a></li>
				<li class="colorLinks__li  ash"><a href="/products/signature-sengesaet-ash" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-ash' %}active{% endif %}" style="background-color: var(--ashclr);" title="ash color"></a></li>
				<li class="colorLinks__li  olive"><a href="/products/signature-sengesaet-olive" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-olive' %}active{% endif %}" style="background-color: var(--oliveclr);" title="olive color"></a></li>
				<li class="colorLinks__li  cacao-grid"><a href="/products/signature-sengesaet-cacao-grid" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-cacao-grid' %}active{% endif %}" style="background: var(--cacaogrid);" title="cacao grid color"></a></li>
				<li class="colorLinks__li  moonstone-grid"><a href="/products/signature-sengesaet-moonstone-grid" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-moonstone-grid' %}active{% endif %}" style="background: var(--moonstonegrid);" title="moonstone grid color"></a></li>
				<li class="colorLinks__li  sky-blue-grid"><a href="/products/signature-sengesaet-sky-blue-grid" class="colorLink__a  {% if product.handle == 'signature-sengesaet-sky-blue-grid' %}active{% endif %}" style="background: var(--skybluegrid);" title="sky blue grid color"></a></li>
<!-- 				<li class="colorLinks__li  mint"><a href="/products/signature-sengesaet-mint" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-mint' %}active{% endif %}" style="background-color: var(--mintclr);" title="mint color"></a></li> -->
<!-- 				<li class="colorLinks__li  sky-blue"><a href="/products/signature-sengesaet-sky-blue" class="colorLink__a  {% if product.handle == 'signature-sengesaet-sky-blue' %}active{% endif %}" style="background-color: var(--skyblueclr);" title="sky blue color"></a></li> -->
<!-- 				<li class="colorLinks__li  grey"><a href="/products/signature-sengesaet-grey" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-grey' %}active{% endif %}" style="background-color: var(--grayclr);" title="grey color"></a></li> -->
<!-- 				<li class="colorLinks__li  cream"><a href="/products/signature-sengesaet-creme" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-creme' %}active{% endif %}" style="background-color: var(--creamclr);" title="creme color"></a></li> -->
<!-- 				<li class="colorLinks__li  nude"><a href="/products/signature-sengesaet-nude" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-nude' %}active{% endif %}" style="background-color: var(--nudeclr);" title="nude color"></a></li> -->
			</ul>
			
		</div>