
{% assign colorNames  = product.title | split: '-'  %}
<div class="colorLinks__wrapper">
	<div class="ProductForm__Label">{{'product.form.color' | t}}: {{ colorNames | last }}</div>
		<ul class="colorLinks__ul">
<li class="colorLinks__li "><a href="/products/handklaede-nature" class="colorLink__a {% if product.handle contains '-nature' %}active{% endif %}" style="background-color: #d9bd92;" title="nature color"></a></li>
<li class="colorLinks__li "><a href="/products/handklaede-grey" class="colorLink__a  {% if product.handle contains '-grey' %}active{% endif %}" style="background-color: #8e8e8e;" title="grey color"></a></li>
<li class="colorLinks__li "><a href="/products/handklaede-mint" class="colorLink__a  {% if product.handle contains '-mint' %}active{% endif %}" style="background-color: #b4eadb;" title="mint color"></a></li> 
<li class="colorLinks__li "><a href="/products/handklaede-sky-blue" class="colorLink__a {% if product.handle contains '-sky-blue' %}active{% endif %}" style="background-color: #c2d9f4;" title="sky blue color"></a></li> 
</ul>
</div>