      <!-- color swatches  -->
			<div class="colorLinks__wrapper">
				<ul class="colorLinks__col">

					<li class="colorLinks__li col-li ash"><a href="/products/signature-lagen-ash" class="colorLink__a  {% if product.handle contains 'signature-lagen-ash' %}active{% endif %}" style="background-color: var(--ashclr);" title="ash color"></a></li>

					<li class="colorLinks__li col-li olive"><a href="/products/signature-lagen-olive" class="colorLink__a  {% if product.handle contains 'signature-lagen-olive' %}active{% endif %}" style="background-color: var(--oliveclr);" title="olive color"></a></li>


				</ul>

		</div>
		<!-- end color swatches  -->