      <!-- color swatches  -->
        <div class="colorLinks__wrapper">
          <ul class="colorLinks__col">
            <li class="colorLinks__li col-li bark"><a href="/products/signature-sengesaet-bark" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-bark' %}active{% endif %}" style="background-color: var(--barkclr);" title="bark color"></a></li>
            <li class="colorLinks__li col-li coffee-milk "><a href="/products/signature-sengesaet-coffee-milk" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-coffee-milk' %}active{% endif %}" style="background-color: var(--coffeemilkclr);" title="coffee milk color"></a></li>
            <li class="colorLinks__li col-li eucalyptus"><a href="/products/signature-sengesaet-eucalyptus" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-eucalyptus' %}active{% endif %}" style="background-color: var(--eucalyptusclr);" title="grey color"></a></li>
            <li class="colorLinks__li col-li cloudless-blue"><a href="/products/signature-sengesaet-cloudless-blue" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-cloudless-blue' %}active{% endif %}" style="background-color: var(--cloudlessblueclr);" title="cloudless blue color"></a></li>
            <li class="colorLinks__li col-li ash"><a href="/products/signature-sengesaet-ash" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-ash' %}active{% endif %}" style="background-color: var(--ashclr);" title="ash color"></a></li>
            <li class="colorLinks__li col-li olive"><a href="/products/signature-sengesaet-olive" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-olive' %}active{% endif %}" style="background-color: var(--oliveclr);" title="olive color"></a></li>
            <!-- <li class="colorLinks__li col-li cacao-grid"><a href="/products/signature-sengesaet-cacao-grid" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-cacao-grid' %}active{% endif %}" style="background-color: var(--cacaogridclr);" title="cacao grid color"></a></li>
            <li class="colorLinks__li col-li moonstone-grid"><a href="/products/signature-sengesaet-moonstone-grid" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-moonstone-grid' %}active{% endif %}" style="background-color: var(--moonstonegridclr);" title="moonstone grid color"></a></li>
            <li class="colorLinks__li col-li sky-blue-grid"><a href="/products/signature-sengesaet-sky-blue-grid" class="colorLink__a  {% if product.handle == 'signature-sengesaet-sky-blue-grid' %}active{% endif %}" style="background-color: var(--skybluegridclr);" title="sky blue grid color"></a></li>
            <li class="colorLinks__li col-li mint"><a href="/products/signature-sengesaet-mint" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-mint' %}active{% endif %}" style="background-color: var(--mintclr);" title="mint color"></a></li>
            <li class="colorLinks__li col-li sky-blue"><a href="/products/signature-sengesaet-sky-blue" class="colorLink__a  {% if product.handle == 'signature-sengesaet-sky-blue' %}active{% endif %}" style="background-color: var(--skyblueclr);" title="sky blue color"></a></li>
            <li class="colorLinks__li col-li grey"><a href="/products/signature-sengesaet-grey" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-grey' %}active{% endif %}" style="background-color: var(--grayclr);" title="grey color"></a></li>
            <li class="colorLinks__li col-li cream"><a href="/products/signature-sengesaet-creme" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-creme' %}active{% endif %}" style="background-color: var(--creamclr);" title="creme color"></a></li>
            <li class="colorLinks__li col-li nude"><a href="/products/signature-sengesaet-nude" class="colorLink__a  {% if product.handle contains 'signature-sengesaet-nude' %}active{% endif %}" style="background-color: var(--nudeclr);" title="nude color"></a></li> -->
						<span class="more-swatches">
							{%- render 'icon', icon: 'plus' -%} 
							<span class="more-swatches-digit">3</span>
						</span>
          </ul>

      </div>
      <!-- end color swatches  -->