<div class="colorLinks__wrapper">
	<ul class="colorLinks__col">
		<li class="colorLinks__li col-li"><a href="/products/signature-viskestykker-2-stk-ternet" class="colorLink__a {% if product.handle contains '-ternet' %}active{% endif %}" style="background: var(--ternet);" title="ternet color"></a></li>
		<li class="colorLinks__li col-li"><a href="/products/signature-viskestykker-2-stk-striber" class="colorLink__a  {% if product.handle contains '-striber' %}active{% endif %}" style="background-color:var(--grayclr);" title="striber color"></a></li>
		<li class="colorLinks__li col-li"><a href="/products/signature-viskestykke-olive-brush" class="colorLink__a  {% if product.handle contains '-olive-brush' %}active{% endif %}" style="background:var(--olivebrush)" title="olive brush color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-viskestykke-eucalyptus-grid" class="colorLink__a {% if product.handle contains '-eucalyptus-grid' %}active{% endif %}" style="background:var(--eucalyptusgrid)" title="eucalyptus grid color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-viskestykke-blue-brush" class="colorLink__a {% if product.handle contains '-blue-brush' %}active{% endif %}" style="background: var(--bluebrush);" title="blue brush color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-viskestykke-cacao-grid-reverse" class="colorLink__a {% if product.handle contains '-cacao-grid-reverse' %}active{% endif %}" style="background: var(--cacaogridreverse);" title="cacao grid reverse color"></a></li> 
					<!-- 	<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-eucalyptus-grid" class="colorLink__a {% if product.handle contains 'eucalyptus-grid' %}active{% endif %}" style="background: var(--eucalyptusgrid);" title="eucalyptus grid color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-blue-grid" class="colorLink__a {% if product.handle contains 'blue-grid' %}active{% endif %}" style="background: var(--bluegrid);" title="blue grid color"></a></li> 
		<li class="colorLinks__li col-li"><a href="/products/signature-handklaede-cacao-grid" class="colorLink__a {% if product.handle contains 'cacao-grid' %}active{% endif %}" style="background: var(--cacaogrid);" title="cacao grid color"></a></li>  -->
		<span class="more-swatches">
			{%- render 'icon', icon: 'plus' -%} 
			<span class="more-swatches-digit">2</span>
		</span>
	</ul>
</div>